<!DOCTYPE html>
<html>
<head>
	<title>S-THR3E Jobs Portal</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  	<script type="text/javascript" src="{%static 'jobs.js' %}"></script>
  	<link rel="stylesheet" href="{%static 'styling.css' %}">
</head>
<body>
	<img src="{%static 'logo.png' %}" id="logo">
	
	<div id="navbar">
		<ul id="navigation" class="nav">
			<li class="navli"><a href="#" >Signout</a></li>
			<li class="navli"><a href="#">Profile</a></li>
			<li class="navli"><a href="#" >Application Status</a></li>
			<li class="navli"><a href="#" >Apply</a></li>
		</ul>	
	</div>
	<br>
	
	
  	<!-- <div class="footer">
  		
  	</div> -->
  	<hr class="bottom">
  	<p id="copyright">&#169 Copyright 2020. All Rights Reserved</p>
</body>
</html>